h1 {
  color:rgb(3, 0, 0);
}
p {color:rgb(1, 1, 17)}

body {
  color:#333;
font-family:Verdana,sans-serif;
margin-top:0px;
margin-bottom:0px;
margin-right:0px;
margin-left:0px;
min-height:100vh;
background-color: wheat;
display:center;
/* border:10px black; */
/* margin-top-color */
/* border-bottom-color:white;
border-right-color:white;
border-left-color:white; */
/* border-top-width:20px;
border-top-color:black; */
}
header {
  /* background-color:rgb(112, 112, 196); */
  /* background-image: url("../おうち居酒屋.jpeg");
  background-repeat:no-repeat;
  background-size:cover; */
  padding-top: 0px;
  padding-bottom: 0px;
  width:100%;
height:30px;
margin-bottom:0px;
margin-top:0;
display:flex ;
  flex-direction: column;
  background-color:rgb(63, 58, 58);
  
font-size:20px;
}
.yohaku{background-color:rgb(63, 58, 58);
font-size:20px;}
.center {
  width:auto;
  margin-left:auto;
  margin-right:auto;
  display:flex ;
  align-items: center;
  margin-top:0px;
  margin-bottom:0px;
  margin-bottom:0px;
  border-bottom:2px solid rgb(214, 205, 205);
  margin-left:auto;
  margin-right:auto;
 
}

.icon {
  /* background-color:pink; */
  width:100px;
  margin-left:350px;
  margin-right:0;
  margin-left:0;
  margin-top:0px;
  margin-bottom:0px;
  display:center;
  margin-left:0;
  margin-right:auto;
}
.icon img {
  border-radius:50%;
border-width: 4px;
border-style: solid;
border-color: white;
margin-top:0px;
  margin-bottom:0px;
  margin-left:auto;
  margin-right:auto;
}

.game {
  /* background-color:tomato; */
  margin-top:0px;
  margin-bottom:0px;
  margin-right:0px;
  margin-left:0px;
  width:auto;
  font-weight:lighter;
  margin-top:0px;
  margin-bottom:0px;
  padding:0;
  vertical-align:text-bottom;
  margin-left:auto;
  /* margin-right:auto; */
}
.game h1 {
  font-weight:bold;
  color:black;
font-size:40px;
width:auto;
padding:0px;
margin-right:0px;
vertical-align:text-bottom;
/* background-color:rgb(37, 35, 35);
background:rgba(37,35,35,0.5); */
/* border-radius:50%;
border-width: 4px;
border-style: solid;
border-color: black; */

}
/* .game p {color:whitesmoke;} */


.link { 
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  margin-bottom:0px;
}
  /* background:rgba(5, 5, 0, 0.5) */
 

.link ul{
  margin-left:auto;
  margin-right:auto;
  list-style-type: none;
  display:flex;
  width:400px;
}

.link ul li {
  margin-left:40px;}

.info {
  display: flex;}

  /* <!--  ベランダハイボールの紹介--> */
  .backborn {
  background-image: url("IMG_6101.jpeg");
  margin-left:auto;
  margin-right:auto;
    background-repeat:no-repeat;
    background-size:cover;
    margin-bottom:0px;

  }
  
  .works {
text-align:center;
  width:100%;
  height:600px;
/* /* margin-left:auto;
margin-right:auto; */
/* margin-bottom:0px; */ 
margin:0;
padding:0;
line-height:1.8;
flex:1;

}

.works h1 {
  font-weight:normal;
  color:white;
  background-color: rgb(35,35,35,0.5);
  /* /* background-color:rgb(37, 35, 35); */
background:rgba(37,35,35,0.5); 
margin:0px;
}
.change {
  color:white;
background-color: rgb(35,35,35,0.5);
background: rgba(37,35,35,0.5);
margin:0px;
}
.youtube {
  align-content: center;
  margin-top:10px;
  margin-bottom:10px;
  margin-left:10px;
  margin-right:0px;
  flex:auto;
  /* width:100px; */
  padding:0px;
  background-size:cover;
  background-color: wheat;

 
}
.youtube ul{
/* list-style-type:unset; */
display:flex;
/* margin:0px;
padding:0px;
margin-left:auto;
margin-right:auto;
  background-repeat:no-repeat;
  background-size:cover; */
  margin-left:auto;
  margin-right:auto;
}
.youtube ul li {
/* margin:0px;
padding:0;
background-color:wheat;
/* margin-right:3px;
margin-left:3px; */
/* padding:0;
background-color:wheat; */ 
min-width:50vh;
list-style-type: none;
/* position:relative;
padding-bottom:56.25%;
height:30%;*/
/* overflow:hidden;  */
margin-left:auto;
margin-right:auto;
}

.youtube ul li  iframe {
  position:absolute;
  top:0;
  left:0;
  width: 100px;
  height:100px;
} 
.singi {
  font-size:15px;
  height:100px;
  margin-top:0;
  margin-bottom:0;
  margin-left:0;
  margin-right:0;
  padding:0;
  background-color:rgb(63, 58, 58,0.8);
}
.singi h2  {
margin-top:0;
margin-bottom:0;
margin-left:30px;
margin-right:0;
color: whitesmoke;
}

.singi p {
  margin:0;
  text-align: center;
  color: whitesmoke;
}
.ex {
text-align: center;
color:whitesmoke;
}
footer p {
  color:gray;
text-align:center;
margin-top:30px;


}
@media screen and (max-width:900)
{
  body {width:100px;}
}